.DS_Store

# Xcode
# this ignores dummy workspace files in xcodeproj dir
Example/UILogger.xcodeproj/*
!Example/UILogger.xcodeproj/project.pbxproj

# this ignores all files in workspace dir except the needed one
Example/UILogger.xcworkspace/*
!Example/UILogger.xcworkspace/contents.xcworkspacedata

# pods xcodeproj
Example/Pods/Pods.xcodeproj/*
!Example/Pods/Pods.xcodeproj/project.pbxproj
